@model info.general.tbl_queja_canal_Info

@{
    ViewBag.Title = "Nuevo";
}

@if (ViewBag.mensaje != null)
{
    <h2>@ViewBag.mensaje</h2>
}

@using (Html.BeginForm("Nuevo", "Canal", FormMethod.Post))
{
        @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "formLayout";
    settings.EncodeHtml = false;
    settings.UseDefaultPaddings = true;
    settings.Width = Unit.Percentage(100);

    var groupItem = settings.Items.AddGroupItem(i =>
    {
        i.Caption = "Nuevo canal";
        i.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
    });
    groupItem.Items.Add(m => m.qc_descripcion, i =>
    {
        i.NestedExtension().TextBox(s => s.Width = Unit.Percentage(100));
    });

    groupItem.GroupBoxDecoration = GroupBoxDecoration.Box;
    groupItem.ShowCaption = DefaultBoolean.True;
    groupItem.SettingsItems.ShowCaption = DefaultBoolean.True;
    groupItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
    groupItem.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Left;
    groupItem.SettingsItemCaptions.VerticalAlign = FormLayoutVerticalAlign.Top;

    groupItem.Items.Add(i =>
    {
        i.Caption = "";
        i.Paddings.PaddingTop = 24;
        i.SetNestedContent(() =>
        {
            Html.DevExpress().Button(b =>
            {
                b.Name = "UpdateBtn";
                b.Text = "Guardar";
                b.ControlStyle.CssClass = "editFormButton";
                b.UseSubmitBehavior = true;
            }).Render();
            Html.DevExpress().Button(b =>
            {
                b.Name = "CancelBtn";
                b.Text = "Cancelar";
                b.Style.Add("margin-left", "4px");
                b.ControlStyle.CssClass = "editFormButton";
                b.ClientSideEvents.Click = "function(s, e){ document.location='" + DevExpressHelper.GetUrl(new { Controller = "Canal", Action = "Index" }) + "'; }";
            }).Render();
        });
    });
}).GetHtml()
}