@model info.general.tbl_reporte_no_conformidad_Info

@{
    ViewBag.Title = "Nuevo";
}

@if (ViewBag.mensaje != null)
{
    <h2>@ViewBag.mensaje</h2>
}

@using (Html.BeginForm("Nuevo", "NoConformidad", FormMethod.Post))
{
    @Html.HiddenFor(q => q.IdQueja)
        @Html.DevExpress().FormLayout(settings =>
   {
       settings.Name = "formLayout";
       settings.EncodeHtml = false;
       settings.UseDefaultPaddings = true;
       settings.Width = Unit.Percentage(100);

       settings.Items.AddGroupItem(g =>
       {
           g.Caption = "Nueva no conformidad";
           g.GroupBoxDecoration = GroupBoxDecoration.Box;
           g.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;

           g.Items.Add(m => m.nc_fecha, i =>
           {
               i.NestedExtension().DateEdit(s =>
               {
                   s.Width = Unit.Pixel(100);
                   s.Properties.EditFormat = EditFormat.DateTime;
                   s.Properties.DisplayFormatString = "dd/MM/yyyy";
               });
           });

           g.Items.Add(m => m.IdNoConformidad_tipo, i =>
           {
               i.NestedExtension().ComboBox(s =>
               {
                   s.Width = Unit.Percentage(100);
                   s.Properties.DataSource = ViewBag.lst_tipo;
                   s.Properties.ValueField = "IdNoConformidad_tipo";
                   s.Properties.TextField = "nt_descripcion";
                   s.Properties.Columns.Add("nt_descripcion","Tipo no conformidad");
               });
           });
           g.Items.Add(m => m.nc_descripcion, i =>
           {
               i.NestedExtension().Memo(s =>
               {
                   s.Width = Unit.Percentage(100);
                   s.Properties.Rows = 4;
               });
           });

           g.Items.AddTabbedGroupItem(tab1 =>
           {
               tab1.Width = Unit.Percentage(100);
               tab1.Items.AddGroupItem(g1 =>
               {
                   g1.Caption = "Auditado";
                   g1.GroupBoxDecoration = GroupBoxDecoration.None;
                   g1.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
                   g1.Items.Add(m => m.nc_causa, i =>
                   {
                       i.NestedExtension().Memo(s =>
                       {
                           s.Width = Unit.Percentage(100);
                           s.Properties.Rows = 4;
                       });
                   });
                   g1.Items.Add(m => m.lst_det, i =>
                   {                       
                       i.SetNestedContent(() =>
                       {
                           Html.RenderPartial("_GridViewPartial_noConformidad_det");
                       });
                   });
               });
               tab1.Items.AddGroupItem(g2 =>
               {
                   g2.Caption = "Auditor";
                   g2.GroupBoxDecoration = GroupBoxDecoration.None;
                   g2.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
                   g2.Items.Add(m => m.nc_cumplimiento, i =>
                   {
                       i.NestedExtension().Memo(s =>
                       {
                           s.Width = Unit.Percentage(100);
                           s.Properties.Rows = 4;
                       });
                   });
                   g2.Items.Add(m => m.nc_fecha_verificacion, i =>
                   {
                       i.NestedExtension().DateEdit(s =>
                       {
                           s.Width = Unit.Pixel(100);
                           s.Properties.EditFormat = EditFormat.DateTime;
                           s.Properties.DisplayFormatString = "dd/MM/yyyy";
                       });

                   });
                   g2.Items.Add(m => m.nc_verificacion, i =>
                   {
                       i.NestedExtension().Memo(s =>
                       {
                           s.Width = Unit.Percentage(100);
                           s.Properties.Rows = 4;
                       });
                   });
               });
           });

           g.Items.AddGroupItem(g3 =>
           {
               g3.GroupBoxDecoration = GroupBoxDecoration.None;
               g3.Items.Add(i =>
               {
                   i.ShowCaption = DefaultBoolean.False;
                   i.SetNestedContent(() =>
                   {
                       Html.DevExpress().Button(b =>
                       {
                           b.Name = "UpdateBtn";
                           b.Text = "Guardar";
                           b.ControlStyle.CssClass = "editFormButton";
                           b.UseSubmitBehavior = true;
                       }).Render();
                       Html.DevExpress().Button(b =>
                       {
                           b.Name = "CancelBtn";
                           b.Text = "Cancelar";
                           b.Style.Add("margin-left", "4px");
                           b.ControlStyle.CssClass = "editFormButton";
                           b.ClientSideEvents.Click = "function(s, e){ document.location='" + DevExpressHelper.GetUrl(new { Controller = "NoConformidad", Action = "Index" }) + "'; }";
                       }).Render();
                   });

               });
           });
       });

   }).GetHtml()
}